.container {
  margin: 50px 0;
}
/* 
.card {
  margin: 4% 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0);
} */
.updateHeading {
  line-height: 5px !important;
  font-size: 12px !important;
}

.heading1 {
  color: #97d5a4;
}
.heading2 {
  color: #3fb059;
  font-weight: bold;
}

.gridItem {
  /* border: 1px solid #adb2b7; */
  height: 40% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  margin: 10% !important;
  font-weight: 700 !important;
}

.todaysCount {
  font-size: 14px !important;
  font-weight: 600 !important;
  margin-bottom: 10% !important;
}
.totalCount {
  font-size: 22px !important;
  letter-spacing: 2px !important;
}

.confirmedheading {
  color: #ff9fb3;
}

.activeheading {
  color: #6cb3ff;
}
.recoveredheading {
  color: #85ce95;
}

.testheading {
  color: #fcb449;
}
.deathsheading {
  color: #adb2b7;
}

.confirmedTodaysCount {
  color: #ff7d99;
}

.testTodaysCount {
  color: #fcb449;
}
.recoveredTodaysCount {
  color: #7fcb90;
}
.deathsTodaysCount {
  color: #b2b7bb;
}

.confirmedTotalCount {
  color: #ff083b;
  border-bottom: 1px groove rgba(255, 0, 0, 0.5);
}
.activeTotalCount {
  margin-top: 17% !important;
  color: #1485ff;
  border-bottom: 1px groove rgba(0, 0, 255, 0.5);
}
.recoveredTotalCount {
  margin-top: 17% !important;
  color: #2ba847;
  border-bottom: 1px groove rgba(0, 255, 0, 0.5);
}
.testTotalCount {
  margin-top: 17% !important;
  color: #fc9803;
  border-bottom: 1px groove #f7880a;
}
.deathsTotalCount {
  color: #767e85;
  border-bottom: 1px groove rgba(0, 0, 0, 0.5);
}
