.container {
  margin: 50px 0;
}
/* 
.card {
  margin: 4% 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0);
} */
.updateHeading {
  line-height: 5px !important;
  font-size: 12px !important;
}

.heading1 {
  color: #97d5a4;
}
.heading2 {
  color: #3fb059;
  font-weight: bold;
}

.gridItem {
  /* border: 1px solid #adb2b7; */
  height: 40% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  margin: 10% !important;
  font-weight: 700 !important;
}

.todaysCount {
  font-size: 14px !important;
  font-weight: 600 !important;
  margin-bottom: 10% !important;
}
.totalCount {
  font-size: 22px !important;
  letter-spacing: 2px !important;
}
