body {
  background-color: rgb(250, 250, 250);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 50%;
  margin-top: 50px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px;
  position: absolute;
  border: 2px groove black;
  left: 0;
  margin: 10px !important;
}
.links a {
  text-decoration: none;
}
